<launch>
	<include file="$(find LIDAR)/launch/testSetupTransform.launch"/>
	<include file="$(find LIDAR)/launch/simOdom.launch"/>
	
	<group ns="ROS">
		<node pkg="image_view" type="image_view" args="image:=/LIDAR/terrainMap" name="terrainMapImage" output="screen"/>
	</group>

	<group ns="LIDAR">
		<!--node pkg="LIDAR" type="laserScanToPointCloud" name="pointCloud" output="screen"/-->
		<node pkg="LIDAR" type="terrainMapper" name="tMapper" output="screen"/>
	</group>

</launch>