<launch>
	<include file="$(find LIDAR)/launch/testSetupTransform.launch"/>
	
	<group ns="FroboMind">
		<node pkg="fmHMI" type="keyboardEventListener" name="keyboard" output="screen"/>
	
		<node pkg="fmCSP" name="usbSerial" type="serial_string" output="screen" >
	        <param name="publisher_topic" value="/fmCSP/com0_rx" />	 
	        <param name="subscriber_topic" value="/fmCSP/com0_tx" />
			<param name="device" value="/dev/ttyUSB0" />	
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="10"/>
		</node>
		
		<node pkg="fmSensors" name="IMU" type="vectornav_imu_node" output="screen"> 
		    <param name="subscribe_topic_id" value="/fmCSP/com0_rx" />
			<param name="publish_topic_id" value="/fmSensors/imu" />
			<param name="frame_id" value="imu_link" />
			<param name="cov_x" value="0.001"/>
			<param name="cov_y" value="0.001"/>
			<param name="cov_z" value="0.001"/>
		</node>
	</group>

	<group ns="SICK">
		<node name="sick_tim3xx" pkg="sick_tim3xx" type="sick_tim3xx" respawn="false" output="screen">
	    	<!-- default values: -->
	    	
	      	<param name="min_ang" type="double" value="-2.35619449019" />
	      	<param name="max_ang" type="double" value="2.35619449019" />
	      	<param name="intensity" type="bool" value="True" />
	      	<param name="skip" type="int" value="0" />
	      	<param name="frame_id" type="str" value="laser_link" />
	      	<param name="time_offset" type="double" value="-0.001" />
	    	
	  	</node>
	</group>

	<group ns="LIDAR">
		<node pkg="LIDAR" type="odometrySimulator" name="odometrySim" output="screen"/>
		<node pkg="LIDAR" type="sensorSynchronizer" name="sensorSync" output="screen"/>
		<node pkg="LIDAR" type="laserScanToPointCloud" name="pointCloud" output="screen"/>
	</group>
</launch>